@{
    ViewData["Title"] = "Manage User";
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Users</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item active">
                    <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Manage User</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card radius-10">
            <div class="card-body">
                <div id="grid"></div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        function GetUserName() {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";

            for (var i = 0; i < 5; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));
            return text;
        }

        function makeEmail() {
            var strValues = "abcdefghijklmnopqrstuvwxyz12345";
            var strEmail = "";
            var strTmp;
            for (var i = 0; i < 10; i++) {
                strTmp = strValues.charAt(Math.round(strValues.length * Math.random()));
                strEmail = strEmail + strTmp;
            }
            strTmp = "";
            strEmail = strEmail + "@@";
            for (var j = 0; j < 8; j++) {
                strTmp = strValues.charAt(Math.round(strValues.length * Math.random()));
                strEmail = strEmail + strTmp;
            }
            strEmail = strEmail + ".com"
            return strEmail;
        }

        var dataList = [];
        $(document).ready(function () {

            for (var sl = 1; sl < 10; sl++) {
                let data = {
                    Id: sl,
                    Name: GetUserName(),
                    Email: makeEmail(),
                    Mobile: "017XXXXXXX",
                    Role: "User"
                }

                dataList.push(data);
            }

            $("#grid").kendoGrid({
                dataSource: {
                    data: dataList,
                    batch: true,
                    pageSize: 20,
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: { editable: false, nullable: true, visible: false },
                                Name: { type: "string", validation: { required: true } },
                                Mobile: { type: "string", nullable: true },
                                Email: { type: "string", validation: { required: true } },
                                Role: { type: "string", validation: { required: true } }
                            }
                        }
                    }
                },
                height: 450,
                sortable: true,
                editable: "popup",
                toolbar: [{ name: "create" , text: "Add new user"}],
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    field: "Id",
                    title: "Id",
                    width: 240
                }, {
                    field: "Name",
                    title: "Name"
                }, {
                    field: "Email",
                    title: "Email"
                }, {
                    field: "Mobile",
                    title: "Mobile"
                }, {
                    field: "Role",
                    title: "Role"
                },
                { command: ["edit"], title: "&nbsp;", width: 100}
                ]
            });
        });
    </script>
}